input{
    background-color : transparent;
    border : 0px;
}
button{
    background-color : transparent;
    border : none;
    cursor : pointer;
}
button:hover{
    background-color : rgba(0,0,0,.2);
}

body, html{
    padding : 0px;
    margin : 0px;
    background-color : #f7faff;
    height : 100%;
    font-family : Helvetica, Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
*:focus{
    outline : none;
}
.title-bar{
    position : relative;
    z-index : 999;
    padding : 0px 2px;
    color : white;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    background-color : #333;
    -webkit-app-region : drag;
    padding-bottom : 2px;
    flex: 1 0 initial;
}
.title-bar.light{
    background-color : white;
}
.infobar{
    display : flex;
    flex-direction : row;
}

.hamburger button{
    -webkit-app-region : no-drag;
    cursor: pointer;
    background-color : transparent;
    color : white;
    border: none;
    font-size : 1.3em;
    padding : 0px 1.2em;
}
.title-bar.light .hamburger button{
    display : none;
}
.hamburger button:hover{
    background-color: rgba(0,0,0,.2);
}
.menu{
    overflow : hidden;
    color : white;
    width : 0px;
    height : 100%;
    background-color : #222;
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    transition: width .3s ease-out;
}
.menu.open{
    width : 210px;
}

.window-controls{
    display : flex;
    flex-direction : row;
    -webkit-app-region : no-drag;
}

.window-control{
    display : block;
    color : white;
    user-select: none;
    font-size : .875em;
    padding : .2em 1.2em;
}
.title-bar.light .window-control{
    color : #333;
}
.menu-inner{
    display : flex;
    color : #ddd;
    flex-direction : column;
    min-width : 200px;
    padding : 5px;
}
.menu-inner >*{
    margin-top : 10px;
    max-width : 200px;
}
.search-bar{
    margin : 0px;
    padding: 20px 10px;
    color : white;
    background-color : #2a2a2a;
}
.window-control:hover{
    background-color: rgba(0,0,0,.2);
}
.window-control.close:hover{
    background-color: rgba(255,0,0,.75);
    color: white;
}

.root{
    flex: 1;
    display : flex;
    flex-direction : row;
    line-height : 2em;
}
.root a{
    color : inherit !important;
    text-decoration-style: none !important;
    text-decoration-line : none !important;
}
.content{
    display : flex;
    flex-direction : column;
    background-color: #fffaff;
    flex : 1;
}
.bill-display{
    background-color:white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}
.bill-display:hover{
    background-color : rgba(230, 230, 255, 1);
}
.tab-content{
    overflow-y:auto;
    padding : 5px 10px;
}
.tab-content .info{
    display : flex;
    padding: 10px 20px;
    margin : 2px 0;
}
.tabs{  
    flex: 1 0 initial;  
    display : flex;
    flex-direction : row;
    align-content:flex-start;
}
.navigation-item button{
    background-color : lightgray;
    border: none;
    font-size : 1.2em;
    min-width : 100px;
}

.modal{
    display : flex; 
    flex-direction: row;
    justify-content : center;
    position : absolute;
    background-color : white;
    width : 100%;
    height : 100%;
}
.login-modal{
    display : flex;
    flex-direction : column;
    justify-content : center;
}
.login-modal .slide{
    text-align : center;
    max-width : 400px;
}
.login-modal > *{
    margin : 10px 0px;
}

.login-modal.hidden{
    display : none;
    transition: opacity .4s ease-in;
}
.login-modal .next-button{
    font-size : 1.5em;
    position : absolute;
    bottom : 10px;
    right : 10px;
    display : block;
    padding : 10px 15px;
    border-radius : 5px;
}
.login-modal .next-button:hover{
    color : white;
    background-color : orangered;
}

.login-modal .icon{
    position : relative;
    width : 75%;
}
.login-modal .slide{
    transition: opacity .5s ease-in-out; 
}
.login-modal .slide.hidden{
    opacity : 0;
    display : none;
}

.navigation-item button:focus{
    background-color : white;
}

.slide3 > *{
    margin-top : 20px;
}

.profile-pic{
    display : flex;
    flex-direction : row;
    justify-content: center;
}
.pic-container{
    background-color : #000;
    width : 175px;
    height : 175px;
}

.sidebar{
    flex: 0 1 300px;
    padding : 10px;
    background-color : white;
}
.buttons{
    display : flex;
    flex-direction : row;
    justify-content: flex-end;
}
.banner{
    font-size : 1.6em;
    text-align: left;
    display : flex;
    padding : 20px;
}
.banner h1{
    margin : 0px;
    display : flex;
    align-self: flex-end;
    -webkit-text-stroke: 4px solid #333;
}
.bill-display a{
    text-decoration : none;
}
.buttons button{
    padding : 20px;
}
.dissent{
    color : darkgoldenrod;
}
.concur{
    color : green;
}
.information{
    padding : 10px;
}
.information .name{
    text-transform : capitalize;
}
.sidebar{
    display : flex;
    flex-direction : column;
    justify-content : space-between;
}
.sidebar-inner{
    max-width : 200px;
}
.sidebar-inner > *{
    display : flex;
    flex-direction : row;
    justify-content: center;
    flex : 1;
}
.rank{
    padding : 0px;
    color : inherit;
    font-size : inherit;
}
.rank:hover{
    background-color:initial;
}
.rank .text::after{
    padding : 0px;
    content: "▾";
}
.rank:focus .text::after{
    content : "▸";
}
.rank_description{
    display : none;
}
.rank:focus .rank_description{
    display : block;
}